    .cardContainer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
        margin-bottom: 8rem;
    }

    .card {
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: left;
        min-width: 250px;
        width: 25%;
        transition: transform 0.3s, box-shadow 0.3s;
    }

    .card:hover {
        transform: scale(1.05);
    }

    .cardList {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 10px;
        list-style: none;
        padding: 0;


    }

    .cardListItems {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 16px;
        margin-bottom: 8px;
    }

    .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
    }