.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem;
    margin-bottom: 8rem;
    overflow: hidden;
    text-align: center;
}

.sectionOneCard {
    background-color: #f7f7f7;
    text-align: center;
    height: 140px;
    width: 200px;
    padding: 1rem;
    border-radius: 10px;


}

.subContainer p {
    margin-inline: 1rem;
    margin-bottom: 2rem;
    margin-top: 0rem;
}

.iconCard {
    display: flex;
    gap: 50px;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.sectionOneCardText {
    font-size: 0.8rem;
}


.blurred {
    filter: blur(3px);
    /* Apply a blur effect */
    transition: filter 0.3s ease;
    /* Smooth transition for blur */
}

@media screen and (max-width:800px) {

    .container {
        flex-direction: column;
        margin: 0;
    }

    .subContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .subContainer p {
        margin-inline: 1rem;
    }

    .iconCard {
        flex-direction: column;
    }

}