.blurred {
    filter: blur(3px);
    /* Apply a blur effect */
    transition: filter 0.3s ease;
    /* Smooth transition for blur */
}

.container {
    background-color: #f7f7f7f7;
    padding: 2rem;
    overflow-x: hidden;
}

.containerTitle {
    text-align: center;
}

.containerText {
    text-align: center;

}

.contactForm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

.form {

    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 350px;
    background-color: #24323d;
    padding: 50px 60px 40px 50px;
    border-radius: 20px;
    position: relative;
}

.form h3 {
    font-weight: bold;
    color: #fff;
    text-align: center;
    letter-spacing: 1.5px;
}

.form h3 span {
    color: #1ab188;
}

.inputContainer {
    position: relative;
}

.formInput {
    width: 100%;
    padding: 10px 10px 20px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.form label input+span,
.form label textarea+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: #000;
    font-size: 0.9rem;
    cursor: text;
    transition: 0.3s ease;
}

.form label input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9rem;
}

.form label input:focus+span,
.form label input:valid+span {
    top: 28px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #1ab188;

}

.form label textarea:focus+span,
.form label textarea:valid+span {
    top: 85px;
    font-size: 0.7rem;
    font-weight: 600;
    color: #1ab188;

}




.formInputSubmit {
    border: none;
    outline: none;
    background: #1ab188;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: 0.3s ease;
    cursor: pointer;
    padding: 10px;
}

.formInputSubmit:hover {
    transform: scale(1.05);
    background-color: #1ec79a;
    transition: 0.3s;
}


.contactContainer {}

.contactInfoCard {}



.iconContainer {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.iconContainerSpan {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.contactMe {

    display: flex;
}

.contactIcons {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}

/* contact icons */

.commonIcon {
    color: gray;
    transition: color 0.3s ease;
}

.linkedinIcon:hover {
    color: #0077b5;
    transform: scale(1.05);
}

.githubIcon:hover {
    color: #000;
    transform: scale(1.05);
}

.twitterIcon:hover {
    color: #1DA1F2;
    transform: scale(1.05);
}

.whatsappIcon:hover {
    color: #25D366;
    transform: scale(1.05);
}

/* media quires */

@media screen and (max-width:900px) {
    .contactForm {
        flex-direction: column;
        gap: 20px;

    }
}

@media screen and (max-width:400px) {
    .form {
        gap: 25px;

        padding: 50px 40px 40px 30px;

    }
}