.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    height: 1rem;
    background-color: white;
    overflow: hidden;
    box-shadow: #00000040 0px 14px 28px;
    z-index: 9999;
}

.linkContainer {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

}



.menuIcon {
    height: 45px;
    width: 45px;
}

.hamMenu {
    display: none;

}

.mobileContainer {
    z-index: 9999;
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px;
    transition: left 0.4s ease-in-out;
    /* Updated to 'left' for transition */
}


@media screen and (max-width:800px) {
    .hamMenu {
        display: inline-block;
    }

    .linkContainer {
        display: none;
    }

    .mobileContainer {
        display: flex;
    }

    .mobileContainer .show {
        left: 25;
    }
}